// fullscreen composer styles
.fullscreen-composer {
  overflow: hidden;

  #reply-control {
    &.fullscreen {
      height: calc(100vh - env(keyboard-inset-height)) !important;
      padding-bottom: calc(10px + env(keyboard-inset-height));

      @supports (--custom: property) {
        height: calc(var(--composer-vh, 1vh) * 100 - env(keyboard-inset-height)) !important;
      }

      .reply-to {
        border-bottom: 1px solid var(--primary-low);
        padding-top: 10px;
        padding-bottom: 6px;
        .composer-controls {
          margin-left: auto;
        }
      }
      
      .d-editor-textarea-wrapper {
        border: none;
      }
      
      &:before {
        content: "";
        background: var(--secondary);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        left: 0;
      }
    }
  }
  
  // iOS composer height on fullscreen
  &.keyboard-visible body.ios-safari-composer-hacks {
    #reply-control {
      &.fullscreen {
        height: calc(var(--composer-vh, 1vh) * 100 - env(safe-area-inset-bottom)) !important;

        .reply-to {
          padding-top: 0;
        }
      }
    }
  }
}

.composer-fullscreen-prompt {
  display: none
}

// show toggle fullscreen button on iOS
html:not(.fullscreen-composer) {
  body.ios-safari-composer-hacks {
    .toggle-fullscreen {
      display: block;
    }
  }
}
